# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
pip-log.txt

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Environment
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Добавь в конец .gitignore:
*.pdf
*.csv
*.json
*.xlsx
*.txt
pdf_debug.txt
__pycache__/
*.pyc